/*

The following property is Owned by Victor Omondi, Acknowledge my work.

*/

body {
	/*background: #444444;*/
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
	font-weight: 300;
    overflow-x: hidden;
}

html,body {
  width: 100%;
  height: 100%;
}


/*---------------------------------------
    Typography
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-style: normal;
  font-weight: 300;
}

h1,h2,h3 {
  font-weight: 300;
}

h1 {
  font-size: 48px;
  padding-bottom: 14px;
  margin-bottom: 0;
}

h2 {
  font-size: 42px;
  line-height: 52px;
  margin-top: 0;
}

h3 {
  font-size: 26px;
  line-height: 32px;
  padding-bottom: 6px;
}

h4 {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 6px;
}

h5 {
  color: #666666;
}

strong {
  color: #232B2B;
  font-weight: normal;
}

p {
    color: #888;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0;
}

.section-btn {
  background-color: transparent;
  border: 3px solid #E3AE57;
  border-radius: 100px;
  color: #232B2B;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 12px 36px;
  margin-top: 42px;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
}

.section-btn:hover {
  background: #0093e7;
  border-color: transparent;
  color: #ffffff;
}

.btn-success:focus {
  background-color: #000;
  border-color: transparent;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

.section-title {
  position: relative;
  padding-bottom: 22px;
}

#about,
#service,
#experience,
#education,
#contact {
  position: relative;
}

#home .container,
#about .container, 
#experience .container,
#service .container,
#education .container,
#contact .container {
  width: 100%;
  padding: 0;
  margin: 0;
}

#experience .experience-thumb,
#education .education-thumb  {
  padding: 22px 42px 42px 42px;
}

#service,
#quotes,
footer {
  text-align: center;
}

#experience,
#education {
  background: #E9724C;
}

.background-image {
    background-position: 50% 50% !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
    min-height: 75vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.color-white {
  color: #ffffff;
}

.color-yellow {
  color: #E3AE57;
}

.bg-yellow {
  background: #E3AE57;
}

.bg-white {
  background: #ffffff;
}

.bg-dark {
  background: #161616;
}



/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #0093e7;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #0093e7;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #E3AE57;
  border-top-color: #f9f9f9;
  animation: spinner .6s linear infinite;
}

-webkit-@keyframes spinner {
  to {
      transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
      transform: rotate(360deg);
  }
}



/*---------------------------------------
    Navigation section              
-----------------------------------------*/

.navbar{
    background-color: #0093e7 !important;
}
.custom-navbar {
    margin-bottom: 0;
    background-color: #0093e7;
}

.custom-navbar .navbar-brand {
    color: #333;
	text-shadow: 1px 1px #00ffff;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 1px;
}

.custom-navbar .nav li a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 40px;
    transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #000000;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #f5f5f5;
    font-weight: bold;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #ffffff;
    border-color: transparent;
}

@media(min-width:768px) {
    .custom-navbar {
        padding: 12px 0;
        border-bottom: 0;
        background: 0 0; 
    }
    .custom-navbar.top-nav-collapse {
        background: #0093e7;
        box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
        padding: 0;
    }

}



/*---------------------------------------
    Home section              
-----------------------------------------*/

#home h1 {
  padding-bottom: 18px;
}

#home .col-md-6 {
    /*background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 250, 255, 0.5));*/
    padding-right: 0;
    padding-left: 0;
}

#home .home-img {
    background-size: cover;
    background: url('https://lh3.googleusercontent.com/EWBBM8VHUpIMxEmW3vDkFnffu2JbaK-Rpr3SPofaeJ5UYWbplL0z9cqn5N-3dq4jhOYEUtgMg5OenKWJjF6X4wa46P3GGvDRfnG18IYj8MenvFsE1PSDK2dtjxr4p34qamlM7LCxRYhHhV09nMVqYKsUn3cO2SPqgHk_bdaYwYC_wJAxYr9KC6LypxPsisNbMZKutGElPOE1oSg1nYuiN6qn6MiYbRODbCjZfDqGz1ZdrtvOv9O0dymiSUj7CypoE-cO0QdIAZCBYXSKg6palgXBAnv8Y8RDleUUM-yq9CmiuGyw8UURSe39TuFrRycwQQdUhRHRD3NGuDgq_WnBLRTdSQLzEE77GR9_sbSZ0CHRujgQXvq8aVsAbvIXgq_7uQ9ibe6skhAQU4GmbWDAO_8VWKm08wgfg913Ipfa74sfZC1hUNIe-6olc_tp87jJwduFLk-Tzp6STVpJJkwPmwI73TNPlHW1XbAUzU6OYNMRdfv_T4RAI3RHOFtdyd5GHsE3NNwZLKOijEkL5nM2nALSJgN6PPtDwvUajwh1A91PeKpFef_5KSe8Hq1Fl12x72-kki5MDbOIMTc5J0tKwDhIRpssCg99gjnYLkP7Mk8giPSTpRS8zwm2HDoRCkLItmvHFtv95DYCE-gHULXr1WPV9JRfwYW5=s500-no') no-repeat 50% 50%;
    width: 100%;
    height: 100vh;
}

#home .home-thumb {
    display: -webkit-box;
    display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  padding: 0 45px 0 45px;
}



/*---------------------------------------
   About section              
-----------------------------------------*/

#about .about-img {
    background: url('https://lh3.googleusercontent.com/Ls-o5m6y8iCwVjwz-BmZbJnMcU87Zp-q5U2AsbWfed7W_IbqoOu_IFbEaWLtt8CR8n_0J9K12--GCipFX4pzCMkkLY1j0hVmyRRAWU4dboU75e6tV3IWy-yJunXk9jDIKyTNfo0tMIEOl5IB8bgv79C4mLsoaub3Y7XCNL9p1kDZhCBquAEG-ZLv_gKFtKqErXuDFFfJ0C0k9x2wa_4oTxnXnG2789aIHekgW2OUtQuRQ9Zd7Pj6BFi4RGa5OOl0cB3Ik1fd9uSDhvXdeJ3I4z8x06J7FdnripyEDAtua3k5yhjYwk2LjOA6t59Cm9zFmM8iTQoTE9WPVg3zCG9jhMAQZu1cteqh8T1MMcBCyFEixtZKrq8jGjiDTzjtGjFrJU1K8qFM7eQjmwCSR2UWsEnvIEpdk7lz2ZNKiRPvdTebKaWmTD8HGhJ_OJphEnFM-YdE-pXtJeYolxJC40vo8l7jGgt_RUu7u8f3Teh3eF7CzG9Mo0vpV1g6nW3yzB3e6_T2iRE5wtncXv-U3_wLUvdbgOoa_m9sep7LOzqHLjmspE7gA0LQHhU-LjJHvdCyMRx8ihbIRwsV_eD6EblQ91si812Qm16p8qdb-sKFJMi1IbRtUw6u8x356aDlAQ0A9vRjsCa2AjWnj3Ogydv5ZvDc6o_ehCiS=w883-h662-no') no-repeat;
}

#about .about-thumb,
#about .skill-thumb {
  padding: 22px 32px 32px 32px;
}

#about .progress {
  background: #ffffff;
  border-radius: 0;
  box-shadow: none;
  height: 2px;
}

#about .progress-bar-primary {
  background: #232B2B;
}

#about strong,
#about span {
  font-weight: bold;
  display: inline-block;
  padding-bottom: 8px;
}



/*---------------------------------------
    Service section              
-----------------------------------------*/

#service {
  background: #E9724C;
}

#service p {
  font-size: 18px;
  line-height: 30px;
}

#service .service-thumb {
  padding: 52px 22px 52px 22px;
}

#service .service-thumb .fa {
  font-size: 42px;
  padding-bottom: 22px;
}



/*---------------------------------------
    Experience section              
-----------------------------------------*/

#experience .experience-img {
    background: url('https://lh3.googleusercontent.com/-QsEl96dci-cwedc6ae9EJDdWAIbGIVORrWdtVD5JCcT-TllGcjDV0rdlbKikysdW-J9r5CCaqtgDvc3rS5mCi8fjozyQ6cL96xmr0XmkG2bXByxPA5xVkDoCHEZykdsHOw4ltIwToSxlV9Mhqxo0DcMS9OlnoM-Es5j0pE5hKRcfRVVP0u-MCkqSTGHrznuF5jNNubQPkPEq4mrkKNt1PTQn0zP1c2IM9QKma7neptx00VJAduBaORXfXivjF7t3HHW8I7WBOfunnu2PHzLxIZN5R6R625Lc7BB97FLq--rdL3HSn1p5KN8H9FjK8MQHMz5U7CXZHZockFxF3oxvsxkGdnjybgNJidvC6UqTOqQ4mnO4mZ3zJe95wRalZix7qfxiXanS60FyAgfroy7eyxe0Qjy22ky51n0dJ2q2yfZliXWBuDkRan2DWmaEwkL26p_UKpaZLyAOqg9h9OOUwvyDBmR2Rg1-PfrTwDlil1Bf401oEs4WxOHdXW0cbIQGvwIg-UZ03sTjuqKh1U3rAD7P-0OD18uOUgRbdENMVWdeSDRZuvyyOb4KujqE3OA1zeZVyUG-EixU8Y0Rv88XAF7cPijESRUjEBDxBL18OQfFsqSD6btEgm-1zG1Kwqv1BX0S4zGHyuYMZXapvrDEt1SSyqTIQ0J=w993-h662-no') no-repeat;
}

#experience .media-heading {
  margin-bottom: 0;
}

#experience .media .fa {
  font-size: 42px;
  margin-right: 14px;
}

#experience small {
  color: #633;
  font-weight: bold;
}

/*---------------------------------------
    Education section              
-----------------------------------------*/

#education {
  background: #E3AE57;
}

#education .education-img {
  background: url('https://lh3.googleusercontent.com/AdjsHFvNCFzl_JWByhecMAdfQ3lfp84pAuXur1sJsJnRhwQf8_m-ptG_FUxaljwo8uDPk0cyeaV-Av5GI4CdA91Ghcj684Axg4oYWgs5AOaTsVk92khk-TQobPBq17sUWh0nRYQviWbt1O8vfZejY_kORcmhxXioMqD9dX4NHBzlnkQ6Fzt5yKwPNC_5UdleHPPdzdevqZT_XbyXerV0kXZ7TXB3Z49Tl7MC8RaAKVGhq4kxDHgWhFSrzaCfR_YUJO68zJYA8vOl_mpv0qN_mS7xGREZlt0GLQGQf5TmtESZYiO1xXeVNaJ2diz-qRTDwSWxgc2nadh2DwZUSFNDo8-Y17afwelREQugaJ0BoQpn1d0BvFdO-XMmfv7UaTpvx8UPc9gURqjTk4GWgwKbQsrnFDF5QN-_aXPSlLXHLOCOWAgz2mGyTzkcLmjdLcFs8nIFcwXwmC6xMfQM0O43duQOFoVKLN3Kw4pPQwJLkTrlHi5Mr6ob0dFhCIVnp4G3WkFBJiAFoF92ZGtoxcOzDM9Xc8YALh42OunEsoejd1CzveEeyOt7OjWq6_-g7y0B6n00frjAQfrDNaNngkdu5zRW_lawL9oLPVGsrlDt6FjvEuiTw8lqfvQx01xTIoiX1sFBgLI4ZbzTCG3Ma6VS5nEyH-JqSLQz=w993-h662-no') no-repeat;
}

#education .media-heading {
  margin-bottom: 0;
}

#education .media .fa {
  font-size: 42px;
  margin-right: 14px;
}

#education small {
  color: #886D1E;
  font-weight: bold;
}



/*---------------------------------------
   Quotes section              
-----------------------------------------*/

#quotes {
    background-size: cover;
    background: url('https://lh3.googleusercontent.com/lsvcDphGZ4eBAadM7nijpsDJSCrt96ddBVujUo8LGXPYZTj6n7woyOAjaob6V5QhK-U7xvZu4yDw67rUqoKlDxMTgtcPTAUDlEENmCAwLsUoL5kIIe-x9nEERqUKMr7_MyT2WKn7-D5vN0OV61-cP3HRjNxM0oElOFIQhZh4ZSsY8BTWV13RNQR3vTIddetz3IuDuWKSQ3J4lYE7lUrrhLtvoLDOyFGI3sFnYp_kKs7V6ZCfFaQCpn2Yi8QFyFXWqCUiLSAo2gXPf7JaRDfq-GOn6waU4_n6YYxemh33i-NhsLWAro37514510ddQhCQg-v7kl9jwtiXqUGy6TpzCXBR_3p4X4dfu596wi6R_moj95ToqHHMHBymOnjWPVjwosqC0Gh1K_xBPW2s4QVk_ELf_HVyyQRyJ3qPIvo1XxU8CU_wX1vlCpqMsIYbkfBICzdPSlUZ7wc4jnIpqzUMxFrhCAX9JQ2p8WJAJpqaBHyLXB0S8CRN3dB_wMvQrC2nE09DIja7R_HdU8KuiqEtH2Lazydn-zlrt27he_6M0sjPMHY8C-LFLqvAiZy-z42tpa1-s7TvrvKm_Kn3yXk4-Ala001fS8Z9zu-4JF4CYirwri_zCpZyHEXwfTiXYOUtJb1iO6ghhWkxA-hepUJmiqUdKWCJVt0H=w993-h662-no') repeat-y fixed center center;
    color: #ffffff;
    position: relative;
    padding: 100px 0;
}

#quotes .overlay {
    background: #121212;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.7;
}

#quotes .fa {
  font-size: 42px;
  margin-top: 32px;
  margin-bottom: 22px;
}

#quotes p {
  padding-top: 32px;
}


/*---------------------------------------
    Contact section              
-----------------------------------------*/

#contact {
  background: #E9724C;
}

#contact .contact-form,
#contact .contact-thumb {
  padding: 22px 32px 22px 32px;
  min-height: 75vh;
}

#contact .contact-img {
  background: url('https://lh3.googleusercontent.com/n1PYTYhEYDC29rdyO74mJkty2rJr-Yj9Ampe7wCDjPr2P8z3E_GhM5WBCaXhklq2LnuDguoxrJtbY78zvE1h3itd_3xbAzUcYEUWBZbVZhvzhxApy21Xfv47VklWR9GLlOzmWHYK26XeD2NrEAo2o8C_Zv2LemJYuUq_mtnL7sUBbE28WSCnKUmUrSqNXehLjNR1JEkluKAuMvPA2qjMD-UABf4FwrmLUcjAZEEmJO_mXfgPif8-s2A3IW46KujeyH2CXbHyo1q6EhWHZxLAyMk4hMkoW5tBJg2kJ9EGWQ9bp5_hHYUwvg2VDXhCKsq8swy6b4KHWI5h9bJ6TjDDLm6Y-b1dQhyzt8LBMyeT7qkU9yeiPilgkms3is2sSGEVb2QjiyQKLepnQGNTrl9xseekAYw6rGbU-xncdsJq2klTM0aqc6kXIct1gm82RtB8pYxgZPXXH4tlc0Poba-zpjAIatF-sRXTwgZy1xNCl7A9vFbpCdThECW4NTigFOXgEkST8_U8dWFdMO_Ldmj6wDCY1sz3Wx-QhCY96jwugKDaHPdYXm3fU6hXLsgystwqVljWD2KlDDKxZZdEIU497xhaUMGFcHWK4vO8CxdRXrWsWcQ7NIVz2LX8MmjQIXpWEJy3WEwaGFv18FBFsT4o7xCJK2PH8E9B=w753-h662-no') no-repeat;
  min-height: 75vh;
}

#contact .contact-info {
  padding-top: 6px;
  padding-bottom: 6px;
}

#contact .form-control::-moz-placeholder{
    color:#ffffff;
    opacity:1
}
#contact .form-control:-ms-input-placeholder{
    color:#ffffff
}
#contact .form-control::-webkit-input-placeholder{
    color:#ffffff
}

#contact .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #E3AE57;
  border-radius: 0;
  box-shadow: none;
  color: #ffffff;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 25px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:focus {
  border-bottom-color: #ffffff;
}

#contact input {
  height: 45px;
}

#contact input[type="submit"] {
  background: #ffffff;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #161616;
  padding-bottom: 10px;
}

#contact input[type="submit"]:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

#contact .fa {
  padding-right: 10px;
}



/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
    padding: 140px 0;
}



/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    border: 2px solid transparent;
    color: #0093e7;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 22px 4px 10px 4px;
}

.social-icon li a:hover {
    background: #0093e7;
    border-color: #ffffff;
    color: #ffffff;
    transform: scale(1.1);
}



/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/

@media only screen and (max-width: 580px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
    line-height: inherit;
  }

  h3 {
    font-size: 22px;
    line-height: inherit;
  }
}

@media only screen and (max-width: 767px) {
  .custom-navbar .navbar-brand {
    line-height: 18px;
  }

  #home .home-thumb {
    height: auto;
    padding-top: 32px;
    padding-bottom: 12px;
  }

  #home .container,
  #about .container, 
  #experience .container,
  #service .container,
  #education .container,
  #contact .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  #about .col-md-3,
  #experience .col-md-6,
  #education .col-md-6,
  #contact .col-md-3 {
    padding: 0;
    margin: 0;
  }

  .background-image {
    position: relative;
    min-height: 65vh;
  }
}

@media only screen and (max-width: 1024px) {
  .section-title {
    padding-bottom: 12px;
  }

  footer {
    padding: 40px 0;
  }
}
